.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    height: 95vh;
    width: 75vw;
}

#background {
    filter: drop-shadow(0 5px 5px lightgrey);
}