article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.2vw;
}

h1 {
    color: slategrey;
}

h2 {
    color: slategray;
}

h2 span {
    color: black;
}

.container {
    display: flex;
    align-items: center;
    padding-left: 20px
}

.container div {
    height: 95vh;
    width: 55vw;
    display: flex;
    justify-content: center;
}

#background {
    filter: drop-shadow(0 5px 5px lightgrey);
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    article {
        font-size: 1.5vh;
    }
    #background {
        margin-top: -200px;
    }
}